<!DOCTYPE html>
<html ng-app="arvodeApp">
<head>
	<title>Arvode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="css/jquery.mobile.css" />
	<link rel="stylesheet" href="css/ios-checkboxes.css" />
	<link rel="stylesheet" href="css/style.css" />
	<!--<link rel="stylesheet/less" href="css/style.less" />-->
	
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.mobile.min.js"></script>
	<script src="js/ios-checkboxes.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/data.js"></script>
	<script src="js/ui.js"></script>
	<script src="js/app.js"></script>
	<!--<script src="js/less.min.js"></script>-->
</head>
<body ng-controller="MainCtrl">
	<div data-role="page" class="vcentered" id="Home">
		<div data-role="content">
			<div class="vcenter">
				<h2>HSB Göteborgs styrelseapp</h2>
				<p>Här räknar du ut hur mycket din bostadsrättsförening bör betala dig per år i styrelsearvode. Du får ett förslag på en totalsumma som täcker samtliga ersättningar, inklusive fasta arvoden och eventuella timersättningar. Förslaget är en rekommendation.</p>
				
				<a href="#Kalk_A" class="btn btn-hsb btn-block btn-hsb-blue btn-icon clearfix" id="btn-start">
					<div>
						<div class="img">
							<img src="img/icon-kalk.png" />
						</div>
						<div class="content">
							<h2>Starta kalkylatorn</h2>
							<h3>Se vilket styrelsearvode HSB Göteborg rekommenderar</h3>
						</div>
					</div>
				</a>
				<a href="#PaketList" class="btn btn-hsb btn-block btn-icon clearfix" id="btn-list">
					<div>
						<div class="img">
							<img src="img/icon-list.png" />
						</div>
						<div class="content">
							<h2>HSB Tjänstepaket</h2>
							<h3>Se vad HSB Göteborg kan göra för din förening</h3>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div data-role="page" id="PaketList" ng-controller="PaketListCtrl">
		<div data-role="header">
			<a href="#Home" class="leftbutton"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">
			<ul class="hsb-list" id="PaketList_list">
				<li class="package clearfix" ng-repeat="package in packages">
					<a href="#PaketContent" ng-click="packageState.selected = package">
						<img ng-src="img/paket-{{ package.id }}.png" />
						<div>
							<h2>{{ package.title }}</h2>
							<p ng-bind-html="package.excerpt|nl2br"></p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div data-role="page" id="PaketContent" ng-controller="PaketContentCtrl">
		<div data-role="header">
			<a href="#" class="leftbutton" data-rel="back"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">
			<div class="hsb-package-content">
				<h2>{{ packageState.selected.title }}</h2>
				<img ng-src="img/paket-{{ packageState.selected.id }}.png" />
				<div ng-bind-html="packageState.selected.text|nl2br"></div>
			</div>
			
			<span onclick="javascript: window.open('http://www.hsb.se/tjanster/tjanster-for-boende/goteborg/2.42150/kontakt', '_system');" class="btn btn-hsb btn-block btn-icon clearfix ui-link" id="btn-list" style="margin-bottom:20px;">
				<div>
					<div class="content">
						<h2>Kontakta HSB Göteborg om tjänstepaket</h2>
						<h3>Länk till hsb.se</h3>
					</div>
				</div>
			</span>
			
		</div>
	</div>
	
	<div data-role="page" class="vcentered" id="Kalk_A" ng-controller="KalkACtrl">
		<div data-role="header">
			<a href="#" class="leftbutton"  data-rel="back"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">
			<div class="vcenter">
				<h3>Hur många styrelsemedlemmar är ni?</h3>
				<div class="hsb-grid" id="hsb-grid-members">
					<div class="hsb-grid-inner clearfix" data-children="{{ kalkState.members }}">
						<div ng-repeat="i in []|range:16" ng-show="kalkState.members > i">
							<img ng-src="img/{{ portraits[(i + portraitSeed) % portraits.length] }}.png" />
						</div>
					</div>
				</div>
				<p class="hsb-range-value sans">{{ kalkState.members }} styrelsemedlem<span ng-show="kalkState.members > 1">mar</span></p>
				<input type="range" min="3" max="16" ng-model="kalkState.members" data-role="none" class="hsb-range" id="hsb-range-members" />
				<a href="#Kalk_B" class="btn btn-hsb btn-block btn-hsb-blue btn-hsb-next">
					<h2>Nästa steg &rarr;</h2>
				</a>
			</div>
		</div>
	</div>
	
	<div data-role="page" class="vcentered" id="Kalk_B" ng-controller="KalkBCtrl">
		<div data-role="header">
			<a href="#" class="leftbutton" data-rel="back"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">
			<div class="vcenter">
				<h3>Hur många lägenheter är det i er förening?</h3>
				<div id="hsb-houses">
					<div class="hsb-house">
						<img class="hsb-house-roof" src="img/house-1-roof.png" />
						<img class="hsb-house-mid" src="img/house-1-mid.png" ng-show="kalkState.apartments > 100" />
						<img class="hsb-house-mid" src="img/house-1-mid.png" ng-show="kalkState.apartments > 300" />
						<img class="hsb-house-mid" src="img/house-1-mid.png" ng-show="kalkState.apartments > 500" />
						<img class="hsb-house-base" src="img/house-1-base.png" />
						<img class="hsb-house-tree" src="img/tree.png" />
					</div>
					<div class="hsb-house">
						<img class="hsb-house-roof" src="img/house-2-roof.png" />
						<img class="hsb-house-mid" src="img/house-2-mid.png" ng-show="kalkState.apartments > 200" />
						<img class="hsb-house-mid" src="img/house-2-mid.png" ng-show="kalkState.apartments > 400" />
						<img class="hsb-house-mid" src="img/house-2-mid.png" ng-show="kalkState.apartments > 600" />
						<img class="hsb-house-base" src="img/house-2-base.png" />
					</div>
				</div>
				<p class="hsb-range-value sans">{{ kalkState.apartments }}<span ng-show="kalkState.apartments == 450">+</span> lägenhet<span ng-show="kalkState.apartments > 1">er</span></p>
				<input type="range" min="1" max="450" ng-model="kalkState.apartments" data-role="none" class="hsb-range" id="hsb-range-apartments" />
				<a href="#Kalk_C" class="btn btn-hsb btn-block btn-hsb-blue btn-hsb-next">
					<h2>Nästa steg &rarr;</h2>
				</a>
			</div>
		</div>
	</div>
	
	<div data-role="page" class="vcentered" id="Kalk_C" ng-controller="KalkCCtrl">
		<div data-role="header">
			<a href="#" class="leftbutton" data-rel="back"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">
			<div class="vcenter">
				<h3>Hur många styrelsemöten har ni om året?</h3>
				<div class="hsb-grid" id="hsb-grid-months">
					<div class="hsb-grid-inner clearfix">
						<div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]" style="position:relative;">
							<div style="position:relative;height:100px;">
								<img ng-src="img/calendar-{{i}}.png" style="position:absolute;z-index:10;top:0;left:0;right:0;bottom:0;" />
								<img class="hsb-calendar-overlay" style="position:absolute;z-index:100;top:0;left:0;right:0;bottom:0;" ng-src="img/calendar-overlay-{{ ((i+n+overlaySeed) % 7) + 1 }}.png" ng-repeat="n in [1,2,3]" ng-show="shouldShow(kalkState.meetings, i, n)" />
							</div>
						</div>
					</div>
				</div>
				<p class="hsb-range-value sans">{{ kalkState.meetings }} styrelsemöte<span ng-show="kalkState.meetings > 1">n</span> om året</p>
				<input type="range" min="1" max="36" ng-model="kalkState.meetings" data-role="none" class="hsb-range" id="hsb-range-meetings" />
				<a href="#Kalk_D" class="btn btn-hsb btn-block btn-hsb-blue btn-hsb-next">
					<h2>Nästa steg &rarr;</h2>
				</a>
			</div>
		</div>
	</div>
	
	<div data-role="page" class="vcentered" id="Kalk_D" ng-controller="KalkDCtrl">
		<div data-role="header">
			<a href="#" class="leftbutton" data-rel="back"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">
			<div class="vcenter">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="kE_apartments">Antal lägenheter:</label>
						<div class="controls">
							<input type="text" name="kE_apartments" id="kE_apartments" ng-model="kalkState.apartments" data-role="none" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="kE_members">Antal styrelsemedlemmar:</label>
						<div class="controls">
							<input type="text" name="kE_members" id="kE_members" ng-model="kalkState.members" data-role="none" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="kE_meetings">Antal möten om året:</label>
						<div class="controls">
							<input type="text" name="kE_meetings" id="kE_meetings" ng-model="kalkState.meetings" data-role="none" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="kE_external">Externa tjänster?<br /><span class="small">(förvaltare, vicevärd med mera)</span></label>
						<div class="controls">
							<label for="kE_external">
								<input type="checkbox" name="kE_external" id="kE_external" class="ios-switch" ng-model="kalkState.external" data-role="none" />
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="kE_reconstruction">Några stora ombyggnationer?<br /><span class="small">(inom 12 månader)</span></label>
						<div class="controls">
							<label for="kE_reconstruction">
								<input type="checkbox" name="kE_reconstruction" id="kE_reconstruction" class="ios-switch" ng-model="kalkState.reconstruction" data-role="none" />
							</label>
						</div>
					</div>
				</form>
				<a href="#Kalk_E" class="btn btn-hsb btn-block btn-hsb-blue btn-hsb-next">
					<h2>Resultat &rarr;</h2>
				</a>
			</div>
		</div>
	</div>
	
	<div data-role="page" class="vcentered" id="Kalk_E" ng-controller="KalkECtrl">
		<div data-role="header">
			<a href="#" class="leftbutton" data-rel="back"><img src="img/tillbaka.png" /></a>
		</div>
		<div data-role="content">	
			<div class="vcenter">
				<h2 style="text-align:center;">Klart!</h2>
				<p id="kalk-result-text">
					HSB Göteborg rekommenderar ett snitt per styrelseledamot enligt KPI för 2013 på:
				</p>
				<div id="kalk-result">
					<h1>{{ result() }}</h1>
					<h2>kr/år och person</h2>
				</div>
				<a href="#PaketList" id="btn-final" class="btn btn-hsb btn-block btn-hsb-blue btn-hsb-next">
					<div>
						<h2>Vill du jobba lite mindre?</h2>
						<h3>Läs mer om framtidens förvaltningstjänster</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
